* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #FFFFFF;
    --secondColor: #2484BF;
    --thirdColor: #081526;
    --forthColor: #0D2840;
    --fivethColor:  #000000be;
    --sixthColor:  #00000010;
    --seventhColor: #175073;
}

body {
    font-size: 14px;
    background-image: url(imagens/dots-6297146_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--thirdColor);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    min-width: 450px;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--thirdColor);
    font-weight: bolder;
    text-decoration: none;
}

h1 {
    font-size: 16px;
    font-weight: bolder;
}

/* NOTE css da página */
.container-page {
    padding: 0 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* NOTE barra de pesquisa */
.search-box {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.search-box select {
    padding: 10px;

}

.search-box button {
    padding: 10px;
    background-color: var(--primaryColor);
    color: var(--thirdColor);
}

.search-box button:hover {
    background-color: var(--seventhColor);
    color: var(--secondColor);
    box-shadow: 1px 2px 3px var(--primaryColor);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    overflow: hidden;
    background-color: var(--primaryColor);
    border-radius: 100px;
    box-shadow: 2px 2px 5px none;
}

input {
    background-color: transparent;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 4px 0px 4px 14px;
    border: none;
    width: 80%;
}

input::placeholder {
    color: var(--thirdColor);
}

button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    width: 20%;
    font-size: 16px;
    color: var(--thirdColor);
    padding: 8px 10px;
    border: none;
    border-radius: 0px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--secondColor);
}

select {
    border: transparent;
    border-radius: 100px;
    border-color: none;
    font-family: 'Roboto', sans-serif;
    color: var(--thirdColor);
}

option {
    background-color: var(--primaryColor);
    color: var(--thirdColor);
    font-family: 'Roboto', sans-serif;
    border: transparent;
    border-radius: 5px;
}

/* NOTE css das playlists */
.container-playlist {
    height: 100vh;
}

.subforum {
    height: 100%;
}

.subforum-title {
    background-color: var(--primaryColor);
    color: var(--secondColor);
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    font-size: 2em;
}

.subforum-row {
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column {
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: var(--primaryColor);
}

.subforum-description * {
    margin-block: 0;
}

.subforum-description a {
    color: var(--secondColor);
}

.subforum-description a:hover {
    color: var(--seventhColor);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i {
    font-size: 45px;
}

.subforum-icon i:hover {
    color: var(--seventhColor);
}

.subforum-devider {
    display: none;
}

.chatbox-outline {
    color: var(--secondColor);

    height: 100%;
    width: 100%;
}

.subforum-title {
    display: flex;
    border-bottom: 0.2rem solid var(--primaryColor);

}

.inpt_for_logres {
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 0px;
    color: var(--secondColor);
    width: 100%;
}

.inpt_for_logres:focus {
    border-bottom: 0.23em solid var(--secondColor);
    transition-duration: 300ms;
    color: var(--secondColor);
}

/* NOTE media screen dos titulos */
@media screen and (max-width: 460px) {
    .subforum-title {
        display: grid;
        grid-template-rows: 50% 50%;
        align-items: center;
        height: 80px;
    }

    .inpt_for_logres {
        padding: 0;
        margin: 0;
        border: none;
    }
}

/* NOTE css do formulário */
.container-form {
    width: 100%;
    height: 95%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.050);
    padding: 20px;
    border-radius: 5px;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    padding: 50px;
    min-width: 400px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.form-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after {
    content: "";
    display: block;
    width: 9rem;
    height: 5px;
    background-color: var(--secondColor);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-box input {
    margin: 10px 0;
    padding: 13px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px transparent;
    font-size: 13px;
}

.input-box:nth-child(4) input{
    margin: 4px 0;
    padding: 13px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px transparent;
    font-size: 13px;
}

.input-box input:hover {
    background-color: transparent;
}

.input-box input:focus-visible {
    outline: 1px solid var(--secondColor);
}

.input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--fivethColor);
}

.input-box input::placeholder {
    color: var(--fivethColor);
}

#playlist-form input[type="submit"] {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: var(--secondColor);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

#playlist-form input[type="submit"]:hover {
    background-color: var(--secondColor);
}

#playlist-form input[value="Adicionar Playlist"] {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: var(--primaryColor);
}

.question-mark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: var(--sixthColor);
    color: var(--fivethColor);
    border-radius: 50%;
    cursor: pointer;
}

.question-mark:hover::before {
    content: "Clique no botão de compartilhar do YouTube, logo em seguida em incorporar, copie e cole.";
    background-color: var(--sixthColor);
    border: 1px solid transparent;
    border-radius: 5px;
    width: 80px;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    .form-image {
        display: none;
    }

    .container {
        width: 50%;
        height: auto;
    }

    .form {
        width: 100%;
        height: auto;
        border-radius: 6px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: auto;
        height: 100%;
        padding: 0;
    }    

    .container-playlist {
        height: 80%;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 80%;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

    .form {
        border-radius: 6px;
        padding: 0;
        height: 100%;
        width: 100%;
        padding: 40px;
    }

    #playlist-form {
        padding: 5%;
        height: 80%;
        width: 100%;
    }

}

@media screen and (max-width: 460px) {
    .container {
        width: auto;
        height: auto;
        padding: 0;
    }

    .container-form {
        height: 90%;
    }
    .input-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        max-height: 80%;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

    .form {
        border-radius: 6px;
        padding: 30px;
        height: 100%;
        width: 100%;
    }

    #playlist-form {
        height: 80%;
        width: 80%;
    }
}

/* NOTE media screen das playlists */
@media screen and (max-width: 460px) {
    .container {
        margin: 0 0 0 5px;
        padding: 0 0 0 5px;
    }

    .subforum-row {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 50% 35%;
    }

    .subforum-devider {
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }

    .subforum-column {
        height: 80px;
    }
}

@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container {
        margin: 15px;
        padding: 15px;
    }

    .subforum-row {
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i {
        font-size: 35px;
    }

    html {
        font-size: 14px;
    }

    h1 {
        font-size: 16px;
    }

}

header {
    display: flex;
    flex-direction: column;
}

header .navbar {
    margin: 100px 0;
}

@media screen and (max-width: 460px) {
    .navigation {
        max-height: auto;
    }

    .close-icon i {
        font-size: 30px;
    }

    .nav-item a {
        float: left;
        display: inline;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }


    .bar-icon {
        font-size: 30px;
    }

    .brand {
        font-size: 20px;
    }
}

/* NOTE css do footer */
.forum-info {
    font-family: 'Roboto Slab', serif;
    padding-bottom: 20px;
}

.container-forum {
    background-color: var(--primaryColor);
    border-radius: 5px;
    padding: 1%;
}

.chart {
    font-size: 20px;
    font-weight: bold;

}

.chart a:hover {
    color: var(--secondColor);
}

footer {
    margin-top: 30px;
    margin: 2%;
    padding: 20px;
    background-color: var(--secondColor);
    display: block;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: var(--thirdColor);
}

footer a:hover {
    color: var(--primaryColor);
}