@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');

@media (max-width: 768px) {
    main {
        padding: 0.5rem; 
    }
}

* {
    font-family: Assistant, Helvetica, sans-serif;
}

:root {
    --primaryColor: #fff;
    --secondColor:  #0099DD;
    --secondColorHover: #0078bd;
}

a {
    text-decoration: none;
    border-radius: 50px;
}

body {
    display: flex;
    background-image: url(../static/imagens/pexels-peter-olexa-4012966.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin: 0;
    height: 100vh;
}

main {
    width: 100%;
    max-width: 550px;
    margin: 10vh auto;
    padding: 1rem;
    box-sizing: border-box;
}

span#entarRegistrar {
    display: flex;
    margin-top: 5rem;
    border-bottom: 0.2rem solid var(--primaryColor);
    
}

.login-registro {
    display: flex;
}

.inpt_for_logres {
    padding: 0.5rem 0.7rem;
	outline: none;
	border: none;
    background-color: transparent;
    border-radius: 0px;
    margin-bottom: -0.2rem;
    color: var(--primaryColor);
    width: 100%;
}

.inpt_for_logres:focus {
    border-bottom: 0.23em solid var(--secondColor);
    transition-duration: 300ms;
    color: var(--secondColor);
}

input {
    background-color: var(--primaryColor);
    outline: none;
    border: none;
    border-radius: 5px;
}

span#facebook_Google {
    display: flex;
    justify-content: center;
}

#inptLogarGoogle {
    color: rgb(7, 7, 7);
    background-color: #EFEFEF;
}

.loginsAlternativo {
    min-width: 100px;
    width: 45% ;
    padding: 0.7em ;
    font-size: 0.9em;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0.1rem 0.1rem 5px rgba(0, 0, 0, 0.555);
}

.logoFacebook, .logoGoogle {
    width: 1em;
    margin-bottom: -0.2em;
}

.logoFacebook {
    width: 1.2em;
}

p {
    color: var(--primaryColor);
    text-align: center;
    font-size: 0.9em;
}

form, fieldset {
    padding: 0;
    border: none;
    display: flex;
}

fieldset {
    flex-direction: column;
    flex-grow: 1;
}

fieldset > input {
    padding: 1rem;
}

a.links {
    text-align: end;
    font-size: 0.9em;
    color: var(--primaryColor);
} 

a.links:hover {
    color: var(--secondColorHover);
}

.links-pass {
    text-align: end;
    font-size: 0.9em;
    color: #0099DD;
    background: none;
} 

.links-pass:hover {
    color: var(--secondColorHover);
}

nobr > label {
    font-size: 0.9rem;
    color: var(--secondColor);
}

.bttnLogRes {
    margin-bottom: 0;
    font-size: 1.02em;
    color: blanchedalmond;
    background-color: var(--secondColor);
    margin-top: 00.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.219);
}

.bttnLogRes:hover {
    background-color: var(--secondColorHover);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37);
}

.flashAlertDiv {
 display: none;   
}