<!DOCTYPE html>
<html lang="PT-br">

<head>
    <title>Forum</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styleForum.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="../static/imagens/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/android-chrome-192x192.png" type="image/x-icon">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/android-chrome-512x512.png" type="image/x-icon">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/apple-touch-icon.png" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/imagens/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/imagens/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/imagens/favicon_io/site.webmanifest">
</head>

<body>
    <div class="container-page">
        <header>
            <div class="search-box">
                <div class="wrapper">
                    <select id="categorias" name="categorias">
                        {% for categoria in categorias %}
                        <option value="{{ categoria.ID }}">{{ categoria.NomeCategoria }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="search-bar" placeholder="Pesquisa...">
                    <button>🔍</button>
                </div>
            </div>

        </header>

        <div class="container-playlist">
            <div class="subforum">
                <!-- <div class="subforum-title">
                    <a href="{{ url_for('forum') }}" id="inpt-for-playlist" class="inpt_for_logres">Playlists</a>
                    <a href="{{ url_for('form') }}" id="inpt-for-addplaylist" class="inpt_for_logres">Adicionar
                        playlist</a>
                </div> -->

                <div class="subforum-title">
                    <a href="forum.html" id="inpt-for-playlist" class="inpt_for_logres">Playlists</a>
                    <a href="form.html" id="inpt-for-addplaylist" class="inpt_for_logres">Adicionar
                        playlist</a>
                </div>

                <div class="container-form">
                    <div class="form-image">
                        <img src="../static/imagens/pexels-christina-morillo-1181210.jpg">
                    </div>
                    <div class="form">
                        <form id="playlist-form" action="/adicionar_playlist" method="POST">
                            <div class="form-header">
                                <div class="title">
                                    <h1>Preencha os dados</h1>
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="input-box">
                                    <label for="titulo">Título:</label>
                                    <input type="text" id="titulo" name="titulo" required
                                        placeholder="Título da playlist">
                                </div>

                                <div class="input-box">
                                    <label for="descricao">Descrição:</label>
                                    <input type="text" id="descricao" name="descricao" required
                                        placeholder="Descrição da playlist">
                                </div>
                                <div class="input-box">
                                    <label for="descricao">Nome do Canal:</label>
                                    <input type="text" id="nomeDoCanal" name="nomeDoCanal" required
                                        placeholder="Nome do canal">
                                </div>

                                <div class="input-box">
                                    <label for="urlVideo">Iframe do vídeo:<span
                                            class="question-mark">&quest;</span></label>
                                    <input type="text" id="urlVideo" name="urlVideo" required
                                        placeholder="Iframe do vídeo">
                                </div>

                                <div class="input-box">
                                    <label for="urlCanal">URL do canal:</label>
                                    <input type="text" id="urlCanal" name="urlCanal" required
                                        placeholder="URL do canal">
                                </div>

                                <div class="input-box">
                                    <label for="categoria">Categoria:</label>
                                    <input type="text" id="categoria" name="categoria" required
                                        placeholder="Categoria da playlist">
                                </div>
                            </div>

                            <input type="submit" value="Adicionar Playlist">

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="forum-info">
            <div class="container-forum">
                <div class="chart">
                    <a href="https://github.com/IgorEdu-Silva/GoodLink" target="_blank">GoodLink</a>
                    <br>
                    <!-- <span>&copy;  <a href="https://github.com/IgorEdu-Silva">Igor Eduardo</a> | Todos os direitos reservados</span> -->
                    <br>
                </div>
                <span>Este site foi criado para fins estudantis.</span>
            </div>
        </div>
    </div>

    <script src="../static/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>