<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>GoodLink</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/android-chrome-192x192.png" type="image/x-icon">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/android-chrome-512x512.png" type="image/x-icon">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/apple-touch-icon.png" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/imagens/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/imagens/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/imagens/favicon_io/site.webmanifest">
</head>

<body>

    <div class="flashAlertDiv">
        {% set menssagem = get_flashed_messages() %}
        {% if menssagem %}
        <div class="flashAlert">
            {{menssagem[0]}}
        </div>
        {% endif %}
    </div>

    <main>

        <span id="entarRegistrar">
            <input type="button" id="inpt-for-login" class="inpt_for_logres" value="Entrar">
            <input type="button" id="inpt-for-registro" class="inpt_for_logres" value="Registrar">
        </span><br>

        <div class="login-registro" id="login">
            <p>Conectar-se com seu Email</p>

            <form method="POST" action="{{ url_for('login') }}">
                <fieldset>
                    <input type="email" name="email_login" id="email_login" placeholder="Email" required><br>
                    <input type="password" name="password_login" id="password_login" placeholder="Senha" required><br>
                    <input type="submit" class="bttnLogRes" value="Entrar" onclick="logar()"><br>
                </fieldset>
            </form>
        </div>

        <div class="login-registro" id="registro">
            <p>Cadastrar-se com seu Email</p>

            <form method="POST" action="{{ url_for('registro') }}">
                <fieldset>
                    <input type="text" name="name_register" id="name_register" placeholder="Nome e Sobrenome"
                        required><br>
                    <input type="email" name="email_register" id="email_register" placeholder="Email" required><br>
                    <input type="password" name="password_register" id="password_register"
                        placeholder="Senha Mínimo 8 caracteres" required minlength="8"><br>

                    <input type="submit" class="bttnLogRes" value="Criar nova conta" onclick="cadastrar()"><br>

                    <nobr>
                        <input type="checkbox" name="inptTermos" id="inptTermos" required>
                        <label for="inptTermos">Li e aceito os
                            <a class="links" href="{{ url_for('termos') }}">termos</a> e
                            <a class="links" href="{{ url_for('politica') }}">politica</a>
                        </label>
                    </nobr>

                    <nobr>
                        <input type="checkbox" name="checkTermos" id="lembrar-me" checked>
                        <label for="checkTermos">Lembre-me</label>
                    </nobr>
                </fieldset>
            </form>
        </div>
        
    </main>

    <script src="../static/main.js"></script>

</body>

</html>