<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Login e Cadastro</title>
</head>

<body>
    
    {%  set menssagem = get_flashed_messages() %}
    {%  if menssagem %}
        <div class="flashAlert">
            {{menssagem[0]}}
        </div>
    {%  endif %}

    <main>
        <span id="entarRegistrar">
            <input type="button" id="inpt-for-login" class="inpt_for_logres" value="Entrar">
            <input type="button" id="inpt-for-registro" class="inpt_for_logres" value="Registrar">
        </span><br>

        <div class="login-registro" id="login">
            <span id="facebook_Google">
                <!-- <a href="#" id="inptLogarFacebook" class="loginsAlternativo"><img src="../static/imagens/icons8-facebook-num-círculo.svg" class="logoFacebook"> Entrar com Facebook</a> -->
                <a href="#" id="inptLogarGoogle" class="loginsAlternativo"><img src="../static/imagens/Google__G__Logo.svg" class="logoGoogle"> Entrar com Google</a>
            </span>

            <p>ou conectar-se com seu Email</p>

            <form method="POST" action="_login">  
                <fieldset>

                    <input type="email" name="email_login" id="email_login" placeholder="Email ou Usuário" required><br>
                    <input type="password" name="password_login" id="password_login" placeholder="Senha" required><br>
                    <input type="submit" class="bttnLogRes" value="Entrar" onclick="logar()"><br>
                    <input type="button" class="links-pass" id="inpt-for-pass" value="Esqueci minha senha">

                </fieldset>
            </form>
        </div>


        <div class="login-registro" id="registro">
            <span id="facebook_Google">
                <!-- <a href="#" id="inptLogarFacebook" class="loginsAlternativo"><img src="../static/imagens/icons8-facebook-num-círculo.svg" class="logoFacebook"> Cadastre-se com Facebook</a> -->
                <a href="#" id="inptLogarGoogle" class="loginsAlternativo"><img src="../static/imagens/Google__G__Logo.svg" class="logoGoogle"> Cadastre-se com Google</a>
            </span>

            <p>ou conectar-se com seu Email</p>

            <form method="POST" action="_registro"></form>
                <fieldset>
                    <input type="text" name="name_register" id="name_register" placeholder="Nome e Sobrenome" required><br>
                    <input type="email" name="email_register" id="email_register" placeholder="Email ou Usuário" required><br>
                    <input type="password" name="password_register" id="password_register" placeholder="Senha Mínimo 8 caracteres" required minlength="8"><br>
                    <input type="submit" class="bttnLogRes" value="Criar nova conta" onclick="logar()"><br>

                    <nobr>
                        <input type="checkbox" name="inptTermos" id="inptTermos" required>
                        <label for="inptTermos">Li e aceito os
                            <a class="links" href="">termos</a> e
                            <a class="links" href="">politica</a>
                        </label>
                    </nobr>
                    
                    <nobr>
                        <input type="checkbox" name="checkTermos" id="lembrar-me" checked>
                        <label for="checkTermos">Lembre-me</label>
                    </nobr>
                </fieldset>
            </form>
        </div>

        <!--<div class="login-registro" id="reset-pass">
            <form method="POST" action="_reset_pass">
                <fieldset>
                    <input type="password" name="old_pass" id="old_pass" placeholder="   Senha antiga" require minlength="10"><br>
                    <input type="password" name="new_pass" id="new_pass" placeholder="   Nova senha" required minlength="10"><br>
                    <input type="password" name="confirme_pass" id="confirme_pass" placeholder="   Confirme a senha" required minlength="10"><br>
                    <input type="submit" class="bttnLogRes" id="confirmReset" value="Confirmar" onclick="logar()"><br>
                </fieldset>
            </form>
        </div>-->

    </main>
    <script src="../static/main.js"></script>
</body>

</html>