<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../static/imagens/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/android-chrome-192x192.png" type="image/x-icon">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/android-chrome-512x512.png" type="image/x-icon">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/apple-touch-icon.png" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/imagens/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/imagens/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/imagens/favicon_io/site.webmanifest">

    <title>Politicas</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .container-termos-politica {

            padding: 5%;
            padding-right: 50%;


            display: block;
            overflow: hidden;
            text-align: left;

            font-size: larger;
        }    

        h1 {
            padding: 10px;
        }

        h2 {
            padding: 10px;
        }

        p {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container-termos-politica">
        <p>
            A Política de Site é um conjunto de regras e diretrizes que regem a interação dos usuários com a plataforma. Ao utilizar este site, você concorda com os termos descritos nesta política.
        </p>
        <p>
            O site se reserva o direito de coletar informações pessoais dos usuários, incluindo, mas não se limitando a: nome, e-mail e informações de acesso. Esses dados podem ser utilizados para melhorar a experiência do usuário e oferecer conteúdo personalizado.
        </p>
        <p>
            O uso deste site implica na aceitação e concordância com a política de cookies, que pode ser utilizada para rastrear suas atividades e melhorar a funcionalidade do site.
        </p>
        <p>
            Qualquer conteúdo gerado pelos usuários deve estar de acordo com as diretrizes da comunidade. Conteúdo inapropriado, discriminatório ou ilegal não será tolerado e pode resultar na remoção do usuário e de seu conteúdo.
        </p>
    </div>
</body>
</html>