<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../static/imagens/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/android-chrome-192x192.png" type="image/x-icon">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/android-chrome-512x512.png" type="image/x-icon">
    <link rel="shortcut icon" href="../static/imagens/favicon_io/apple-touch-icon.png" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/imagens/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/imagens/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/imagens/favicon_io/site.webmanifest">

    <title>Termos</title>
    
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .container-termos-politica {

            padding: 5%;
            padding-right: 50%;


            display: block;
            overflow: hidden;
            text-align: left;

            font-size: larger;
        }    

        h1 {
            padding: 10px;
        }

        h2 {
            padding: 10px;
        }

        p {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container-termos-politica">
        <h1>Política de Privacidade e Termos de Uso</h1>
        <p>Nós, da GoodLink, estamos comprometidos em garantir a privacidade e segurança das informações fornecidas por nossos usuários. Ao utilizar nosso site, você concorda com nossas políticas de privacidade e termos de uso.</p>

        <h2>Coleta de Informações</h2>
        <p>Coletamos informações pessoais, como nome, e-mail e dados de navegação, para melhorar sua experiência em nosso site. Essas informações são utilizadas internamente e não são compartilhadas com terceiros sem seu consentimento.</p>

        <h2>Uso de Cookies</h2>
        <p>Nosso site utiliza cookies para oferecer uma experiência personalizada. Esses cookies são usados para analisar o tráfego, personalizar conteúdos e anúncios, além de oferecer recursos de redes sociais.</p>

        <h2>Segurança e Armazenamento de Dados</h2>
        <p>Tomamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado. No entanto, ressaltamos que nenhum método de transmissão pela internet é 100% seguro.</p>

        <h2>Aceitação dos Termos</h2>
        <p>Ao acessar nosso site, você concorda com nossa política de privacidade e termos de uso. Caso discorde de alguma cláusula, recomendamos que não prossiga utilizando nossos serviços.</p>

        <p>Essas políticas estão sujeitas a alterações, por isso, recomendamos revisar periodicamente esta página para se manter informado sobre nossas práticas.</p>

        <p>Para obter informações detalhadas sobre nossa política de privacidade e termos de uso, consulte nossa página específica sobre o assunto.</p>
    </div>
</body>
</html>